<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="main-heading">{{selectedSchool.name}}</h1>
    </div>
  </div>
  <div class="buttonBlock">
      <div class="requestButton">
        <button mat-raised-button class="buttons" color="accent">Request a Fund</button>
      </div>
      <div class="createFundButton">
        <button mat-raised-button class="buttons" color="accent" (click)="createFund()">Add a Fund</button>
      </div>
      <!-- <div class="contactButton">
        <button mat-raised-button class="buttons" color="accent">Contact School</button>
      </div> -->
  </div>
  <img class="schoolProfilePic" [src]="selectedSchool.picFullLoc" />
  <div class="sortBy">
    <h3>Sort By</h3>
      <span>
        <mat-form-field>
            <select class="select" matNativeControl required>
              <option value="name">Name</option>
              <option value="organization">Organization</option>
              <option value="date">Date</option>
              <option value="highToLow">Fund Amount (Highest to Lowest)</option>
              <option value="lowToHigh">Fund Amount (Lowest to Highest)</option>
            </select>
          </mat-form-field>
    </span>
      
  </div>
  <div class="row align-items-end">
    <div *ngFor="let fund of funds" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card (click)="onClickFund(fund)">
        <mat-card-title>
          {{ fund.name }}
        </mat-card-title>
        <img mat-card-image class="cardPictures" [src]="fund.picFullLoc" alt="Fund Photos"/>
        <small>${{ fund.currentAmount }}/${{ fund.goalAmount }}</small>
        <mat-progress-bar mode="determinate" value={{fund.value}}></mat-progress-bar>
            {{ fund.description }}
      </mat-card>
    </div>
  </div>
</div>


